@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-display: "Oswald", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-pop: "Poppins", sans-serif;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* progress bar */
.progress-fill {
  width: 0%;
  height: 12px;
  background-color: #6750A4;
  border-radius: 9999px;
  transition: width 0.3s ease;
}

/* flashcard css */
.flashcard-container {
  perspective: 1000px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-wrapper {
  position: relative;
  width: 700px;
  height: 350px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard-wrapper.flipped {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-back {
  transform: rotateY(180deg);
}